h1
{
    font-size: 50px;
    text-align: center;

}
body
{
    color: yellow;
    text-align: center;
    background-color: green;
}
footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: blueviolet;
    color:white;
    font-size: 25px;
}
header
{
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: rgb(177, 56, 56);
    text-shadow: #000 0 0 .2em;
}
